<div class="sidenav">
  <div class="sn_body">
    <!-- General item -->
    <div class="sn_item active">
      <a class="sn_item_body" href="/">
        <div class="sn_item_title">
          <div class="sn_item_title_picto">
            <%= image_tag "home.png", class: "sn_picto"%>
          </div>
          <div class="sn_item_title_name" style="padding-top: 2px;">
            Général
          </div>          
        </div>
      </a>
    </div>
    <!-- /General item -->
    <div class="projects">
      <% current_user.projects.each do |project| %>
        <%= render 'projects/project', project: project  %>
      <% end %>
    </div>

    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div><div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>

    <div class="sn_item">
      lulu
    </div><div class="sn_item">
      lulu
    </div>

    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
  </div>
  <a href="#ModalNewProject" class="sn_footer modal-trigger">
    Créer Projet
  </a>
</div>
<%= render 'projects/new' %>