<div class="sidenav">
  <div class="sn_body">

    <!-- General item -->
    <div class="sn_item active">
      <a class="sn_item_body" href="/">
        <div class="sn_item_title">
          <div class="sn_item_title_picto">
            <%= image_tag "home.png", class: "sn_picto"%>
          </div>
          <div class="sn_item_title_name" style="padding-top: 2px;">
            Général
          </div>          
        </div>
      </a>
      <a class="sn_item_btn" href="/">
        <div class="sn_item_notif" style="display: block;">
          99
        </div>
      </a>
    </div>
    <!-- /General item -->

    <!-- Default item -->
    <div class="sn_item">
      <a class="sn_item_body" href="#">
        <div class="sn_item_title">
          <div class="sn_item_title_picto">
            <%= image_tag "folder.png", class: "sn_picto"%>
          </div>
          <div class="sn_item_title_name">
            Groupe zkljzkzj zkljzlk zkzjzlkj
          </div>          
        </div>
      </a>
      <a class="sn_item_btn" href="#2">
        <div class="sn_item_notif">
          99
        </div>
        <%= image_tag "cog.png", class: "sn_item_cog"%>
      </a>
    </div>
    <!-- /Default item -->








    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div><div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>

    <div class="sn_item">
      lulu
    </div><div class="sn_item">
      lulu
    </div>

    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
    <div class="sn_item">
      lulu
    </div>
  </div>
  <a href="" class="sn_footer">
    Créer Groupe
  </a>
</div>