<%- unless current_user.company? %>
  <%- if current_user.pseudo.nil? %>
    <%= render 'user_infos/new' %>
  <% end %>
<% end %>

<h2>Loel</h2>

<%= render 'contacts/sn/sn' %>

dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
dledkmelk lm k
