<div class="repository_element">
  <div class='contacts_select'>
    <div class="contacts_select_area undisplay">
      <div class="contacts_select_btn_close">
        <i class="material-icons">close</i>
      </div>
      <div class="contacts_select_num">
        0
      </div>
      <div class="contacts_select_title">
        Contact(s) séléctionné(s)
      </div>
      <div class="contacts_select_btn_menu">
        <i class="material-icons">more_vert</i>
      </div>
    </div>
    <div class="contact_select_area_menu">
      <a href='#' class="contact_select_item_menu">
        <i class="material-icons dp_contact_icon">email</i>
        <div class="dp_contact_title">
          Mail
        </div>
      </a>
      <a href='#' class="contact_select_item_menu">
        <i class="material-icons dp_contact_icon">chat</i>
        <div class="dp_contact_title">
          Chat
        </div>
      </a>
      <a href='#' class="contact_select_item_menu">
        <i class="material-icons dp_contact_icon">reply</i>
        <div class="dp_contact_title">
          Partager
        </div>
      </a>
    </div>
  </div>
  <div class="contacts_body">

    <%= render 'companies/company' %>

    <div class="contacts_add_btn">
      <i class="material-icons" style="font-size: 30px;">add</i>
    </div>
  </div>
  <%= render 'contacts/script' %>
</div>