<div class="post" id="post_iter<%= post.id %>">
  <%= render 'posts/header', post: post %>
  <!-- Post Content -->
  <%= render 'posts/content', post: post %>
  <!-- /Post Content -->
  <!-- Edit Post Area -->
  
  <!-- /Edit Post Area -->
  <!-- Comment Area  -->
  <%= render 'posts/footer', post: post %>
  <!-- /Comment Area  -->
</div>
